<a href="https://colab.research.google.com/github/aaronmj7/SQL_Assignment/blob/main/SQL_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install Faker # installing library to generate names

In [ ]:
pip install gender-guesser # installing to get correct genders for respective names

In [ ]:
import numpy as np
from faker import Faker
from gender_guesser import detector
import secrets
import string
import pandas as pd

In [ ]:
n = 1000 # number of rows

In [ ]:
# generating employee id (Nominal data)
np.random.seed(73) # to get same random result each time

ids = [0,]
while len(ids) < n:
  ids = np.unique(np.random.randint(1000000, 2000000, n))

ids[100:110]

array([1097498, 1097705, 1100440, 1105001, 1106103, 1107217, 1107592,
       1108774, 1109779, 1110809])

In [ ]:
# generating employee names (Nominal data)
fake = Faker()
employee_names = [fake.name() for i in range(n)]

len(employee_names)

1000

In [ ]:
# generating age (Ratio data)
np.random.seed(21) # to get same random result each time

age = np.random.standard_normal(n) # using normal distribution to be more realistic

age_mean = (67 + 18) / 2  # Mean of the desired range
age_std_dev = (67 - 18) / 6  # Standard deviation of the desired range
age = age_mean + age_std_dev * age

age = np.clip(age, 18, 67) # cliping to be within 18-67
age = np.round(age).astype(int) # round to nearest integer

# changing some values to nan values
n_points = 50
random_indices = np.random.choice(age.size, n_points,
                                  replace=False).astype(int)
age = age.astype(float) # changing to float to assign nan values
age[random_indices] = np.nan
print(len(age[np.isnan(age)]))

age[100:110]

50

array([50., 36., 36., 47., 49., 48., nan, 49., 33., 35.])

In [ ]:
# generating sex (Nominal data)
np.random.seed(69) # to get same random result each time

d = detector.Detector()
sexes = [d.get_gender(name.split()[0]) for name in employee_names] # making names match the names
sexes = [s if s in ['male', 'female'] else np.random.choice(['male', 'female'])\
         for s in sexes]

# changing some values to nan values
n_points = 50
random_indices = np.random.choice(len(sexes), n_points,
                                  replace=False).astype(int)
for i in random_indices:
  sexes[i] = np.nan

sexes[100:110]

['male',
 'male',
 'male',
 nan,
 'male',
 'male',
 'female',
 'male',
 'female',
 'male']

In [ ]:
# generating date joined (Interval data)
np.random.seed(1581) # to get same random result each time

year = np.random.standard_normal(n) # using normal distribution to be more realistic

year_mean = (2023 + 2010) / 2  # Mean of the desired range
year_std_dev = (2023 - 2010) / 6  # Standard deviation of the desired range
year = year_mean + year_std_dev * year

year = np.clip(year, 2010, 2023) # cliping to be within 2010-2023
year = np.round(year).astype(int) # round to nearest integer

month = [np.random.randint(1, 13) if y < 2023 else np.random.randint(1, 11)\
        for y in year] # restricting till november 2023

day = []
for m in month:
  if m == 2: # using if elif else to get correct dates
    day.append(np.random.randint(1, 29))
  elif m in [4, 6, 9, 11]:
    day.append(np.random.randint(1, 31))
  else:
    day.append(np.random.randint(1, 32))


date = [f'{year[i]}-{str(month[i]).zfill(2)}-'
                     f'{str(day[i]).zfill(2)}' for i in range(n)]


date = np.array(date)
date[date > '2023-1-1']

array(['2023-10-10', '2023-10-11'], dtype='<U10')

In [ ]:
# generating National Insurance number (Nominal Data)
np.random.seed(444) # to get same random result each time

# A National Insurance number has three parts â€“ a prefix of two letters,
# six numbers, and a suffix of a single letter that can only be A,B,C or D
ni_no_data = []
for i in range(n):
  prefix_letters = ''.join(np.random.choice(list(string.ascii_uppercase),
                                            size=2))
  numbers = ''.join(np.random.choice(list(string.digits), size=6))
  suffix_letter = np.random.choice(['A', 'B', 'C', 'D'])
  ni_no = f"{prefix_letters}{numbers}{suffix_letter}"
  ni_no_data.append(ni_no)

ni_no_data[100:110]

['RG061836A',
 'GG722202C',
 'DZ703926D',
 'GL143554D',
 'OB690095B',
 'JL791829B',
 'KW260757D',
 'ZZ021046D',
 'BZ612574A',
 'GO932259C']

In [ ]:
# generating payment tiers (Ordinal data)
np.random.seed(1275) # to get same random result each time

paytier = ['GM', 'Ass_Manager', 'Team_Leader',
           'Senior_Level', 'Mid_Level', 'Enrty_level']
# using probabilities to make it more realistic (1 Gm, 5 Ass.manager, 25 leaders
# and almost normal diribution for senior, mid and entry level)
paytier_prob = [0.001, 0.005, 0.025, 0.223, 0.5, 0.246]
assert sum(paytier_prob) == 1
paytier_data = np.random.choice(paytier, n, p=paytier_prob)

paytier_data[100:110]

array(['Senior_Level', 'Mid_Level', 'Enrty_level', 'Mid_Level',
       'Senior_Level', 'Senior_Level', 'Senior_Level', 'Enrty_level',
       'Mid_Level', 'Mid_Level'], dtype='<U12')

In [ ]:
# generating salary (Ratio Data)
salary = []
for i in paytier_data:
  if i == 'GM':
    salary.append(72000)

  elif i == 'Ass_Manager':
    salary.append(60000)

  elif i == 'Team_Leader':
    salary.append(48000)

  elif i == 'Senior_Level':
    salary.append(36000)

  elif i == 'Mid_Level':
    salary.append(30000)

  else:
    salary.append(24000)

salary[100:110]

[36000, 30000, 24000, 30000, 36000, 36000, 36000, 24000, 30000, 30000]

In [ ]:
# generating emails (Nominal Data)
np.random.seed(1135) # to get same random result each time

email = [name.split()[1] + \
         str(np.random.choice(range(10000))) + '@' +
         str(np.random.choice(['gmail.com', 'yahoo.com', 'hotmail.com'],
                              p=[0.7, 0.2, 0.1])) # using probabilities to make it more realistic
         for name in employee_names]
# changing some values to nan values
n_points = 50
random_indices = np.random.choice(len(email), n_points,
                                  replace=False).astype(int)
for i in random_indices:
  email[i] = np.nan

email[100:110]

['Livingston5025@gmail.com',
 'Clay9556@gmail.com',
 'Anderson6179@gmail.com',
 'Hoover1555@yahoo.com',
 'Allen5637@gmail.com',
 'Moss4670@gmail.com',
 'Holmes8574@gmail.com',
 'Hartman7772@hotmail.com',
 'Nguyen7274@gmail.com',
 'Spencer9126@gmail.com']

In [ ]:
# generatng username (Nominal Data)
username = [employee_names[i].split()[1] + str(ids[i])[-4:] for i in range(n)]

username[100:110]

['Livingston7498',
 'Clay7705',
 'Anderson0440',
 'Hoover5001',
 'Allen6103',
 'Moss7217',
 'Holmes7592',
 'Hartman8774',
 'Nguyen9779',
 'Spencer0809']

In [ ]:
# generating passwords (Nominal Data)

def generate_password(length):
    # Define characters for the password (you can customize this)
    characters = string.ascii_letters + string.digits + string.punctuation

    # Generate a random password
    password = ''.join(secrets.choice(characters) for _ in range(length))

    return password

np.random.seed(1024) # to get same random result each time

password = [generate_password(np.random.randint(8,15)) for i in range(n)]
len(password)

1000

In [ ]:
# generating Phone numbers (Nominal Data)
np.random.seed(28) # to get same random result each time

ph_no = [str(np.random.randint(7100000000, 8000000000)).zfill(11)\
                  for i in range(n)]

ph_no[100:110]

['07558745516',
 '07278881943',
 '07846037470',
 '07439230474',
 '07750002585',
 '07640518946',
 '07209171828',
 '07208689896',
 '07963132307',
 '07705611815']

In [ ]:
# Create DataFrame
df = pd.DataFrame({
    'Employee ID': ids,
    'Name': employee_names,
    'Age': age,
    'Sex': sexes,
    'Date Joined': date,
    'National Insurance Number': ni_no_data,
    'Payment Tier': paytier_data,
    'Annual salary': salary,
    'Email': email,
    'Username': username,
    'Password': password,
    'Phone Number': ph_no
})

df.head()

,Employee ID,Name,Age,Sex,Date Joined,National Insurance Number,Payment Tier,Annual salary,Email,Username,Password,Phone Number
0,1000157,Pamela Lucero PhD,42.0,female,2016-04-23,DQ783476D,Senior_Level,36000,Lucero5436@gmail.com,Lucero0157,Tz~FX@[1R&v,07833679609
1,1000178,Nathan Oneill,42.0,male,2014-11-18,IJ222038A,Mid_Level,30000,Oneill573@gmail.com,Oneill0178,ru<13Uc`o,07363022085
2,1001519,Brian Salas,51.0,male,2017-06-15,GW030679B,Enrty_level,24000,Salas8069@gmail.com,Salas1519,l_C^F[n{U,07263378454
3,1002574,Barry Lawson,32.0,NaN,2020-05-01,DI732692B,Enrty_level,24000,Lawson3460@gmail.com,Lawson2574,VE7}|.NRmnMZ,07636729588
4,1003085,Amanda Edwards,49.0,female,2017-09-26,YZ322815C,Mid_Level,30000,Edwards327@yahoo.com,Edwards3085,"(EUOq8t\""&Om/",07805436704

In [ ]:
# setting index
df.set_index('Employee ID', inplace=True)

df

,Name,Age,Sex,Date Joined,National Insurance Number,Payment Tier,Annual salary,Email,Username,Password,Phone Number
Employee ID,,,,,,,,,,,
1000157,Pamela Lucero PhD,42.0,female,2016-04-23,DQ783476D,Senior_Level,36000,Lucero5436@gmail.com,Lucero0157,Tz~FX@[1R&v,07833679609
1000178,Nathan Oneill,42.0,male,2014-11-18,IJ222038A,Mid_Level,30000,Oneill573@gmail.com,Oneill0178,ru<13Uc`o,07363022085
1001519,Brian Salas,51.0,male,2017-06-15,GW030679B,Enrty_level,24000,Salas8069@gmail.com,Salas1519,l_C^F[n{U,07263378454
1002574,Barry Lawson,32.0,NaN,2020-05-01,DI732692B,Enrty_level,24000,Lawson3460@gmail.com,Lawson2574,VE7}|.NRmnMZ,07636729588
1003085,Amanda Edwards,49.0,female,2017-09-26,YZ322815C,Mid_Level,30000,Edwards327@yahoo.com,Edwards3085,"(EUOq8t\""&Om/",07805436704
...,...,...,...,...,...,...,...,...,...,...,...
1997117,Joseph Heath,51.0,male,2017-09-24,UQ451468A,Senior_Level,36000,Heath2376@gmail.com,Heath7117,"8`NK,yy""va",07276453563
1997365,David Shaw,38.0,male,2019-10-15,XL997362B,Enrty_level,24000,Shaw7163@yahoo.com,Shaw7365,}R3~0UE1,07177709395
1998142,Charles Sampson,29.0,male,2013-11-18,WX270024A,Mid_Level,30000,Sampson267@gmail.com,Sampson8142,7B0#:t&b,07338453582
1999023,Bradley Hanson,37.0,male,2017-04-06,VW368635A,Enrty_level,24000,Hanson5334@gmail.com,Hanson9023,&DR\*;J\PM^,07456528903
1999297,Michael Miller DVM,43.0,male,2019-08-14,PO519069C,Senior_Level,36000,Miller3409@yahoo.com,Miller9297,+Sm>>iE;,07482844604

In [ ]:
# seperating to tables and saving as csv
df_personal = df[['Name', 'Age' , 'Sex', 'Date Joined',
                  'National Insurance Number']]
df_personal.to_csv('personal_info.csv')

df_contact = df[['Email', 'Phone Number']]
df_contact.to_csv('contact_info.csv')

df_authent = df[['Username', 'Password']]
df_authent.to_csv('authentication.csv')

df_finance = df[['Payment Tier', 'Annual salary']]
df_finance.to_csv('payment_info.csv')